* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    margin: 10% auto;
    background-color: orange;
    width: 250px;
    height: 200px;
}

.d1 {
   
  padding: 10px;
  margin: 10px;

  box-shadow: 10px 10px  15px  gray ;
}

.d2 {
    box-shadow: 5px 5px  10px gray inset ;
}

.d3 {
   box-shadow:  -5px -5px 10px red ;
}
.d4{

    box-shadow:  5px 5px  10px red ;
}
