* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  text-align: center;
  margin: 10px auto;
  background-color: orange;
  width: 150px;
  height: 150px;
}

.d1 {
  opacity: 1;
}

.d2 {
  opacity: 0.75;
}

.d3 {
  opacity: 0.5;
}

.d4 {
  opacity: 0.25;
}